repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: check-merge-conflict
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-toml
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.5.1
      hooks:
          - id: python-use-type-annotations
    - repo: local
      hooks:
          - id: black
            name: formatting::black
            entry: pipenv run black
            language: system
            types: [python]
          - id: isort
            name: formatting::isort
            entry: pipenv run isort -rc
            language: system
            types: [python]
    - repo: local
      hooks:
          - id: flake8
            name: linting::flake8
            entry: pipenv run flake8
            language: system
            types: [python]
#            exclude: example
