[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws_lambda_context= "*"

[packages]
pydantic = { version = "*", extras = ["email"] }
aws-lambda-powertools = "*"
typing-extensions = { version = "*", markers = "python_version < '3.8'" }
#pyhumps = "*"

[requires]
python_version = ">= 3.7"
