[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = '*'
pytest-cov = '*'
pytest-mock = '*'
pytest-lazy-fixture = '*'


[packages]
pydantic = { version = "*", extras = ["email"] }
aws-lambda-powertools = "*"
typing-extensions = { version = "*", markers = "python_version < '3.8'" }

[requires]
python_version = ">= 3.7"
